/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.label{
	-fx-font-size:16px;
}
.button{
}

/*Company */
#id0{
	-fx-background-color: #FFBA38; 
}
/*Public/Impassble Land */
#id1{
	-fx-background-color: #8389BB;
}
/*Unowned Land */
#id2{
	-fx-background-color:#BFBFAC;
}
/*Origin */
#id3{
	-fx-background-color: #65CC3F;
}
/*Destination */
#id4{
	-fx-background-color: #65CC3F;
}
/*PlayerTwo */
#id6{
	-fx-background-color:#3553C2;
	-fx-fill:#3553C2;
}
/*PlayerOne */
#id5{
	-fx-background-color:#C24D35;
	-fx-fill:#C24D35;
}

/*PlayerTwo Tile on Shortest Path*/
#id6f{
	-fx-background-color:#253986;
	-fx-fill:#6D83D7;
}
/*PlayerOne Tile on Shortest Path*/
#id5f{
	-fx-background-color:#863525;
	-fx-fill:#D77F6D;
}

/*Unowned Land Tile on Shortest Path*/
#id2f{
	-fx-background-color:#9E9E81;
}

/*Company Land Tile on Shortest Path */
#id0f{
	-fx-background-color: #9F6700; 
}

/*Origin of a finished game*/
#id3f{
	-fx-background-color: #469728;
}
/*Destination of a finished game*/
#id4f{
	-fx-background-color: #469728;
}

